<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Product</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../asets/css/shared.css">
    <link rel="stylesheet" href="NewProduct.css">
</head>

<body>

    <div id="new-product">
        <header>
            <div class="buttons">
                <button class="ghost-button">PRODUCTS</button>
                <button class="solid-button">EXPENSES</button>
            </div>

            <div class="profile-picture">
                <img src="../../asets/images/profile-picture.jpg" alt="" class="picture">
                <h1 class="username">Nikolaj Grunoski</h1>
            </div>
        </header>



        <div class="body-container">

            <p class="title">New Product</p>

            <div class="box-container">
                <form action="" class="form-box">
                    <p class="input-container">
                        <label for="" class="text-field-input">Product Name</label>
                        <input type="text" class="text-field">
                    </p>

                    <p class="input-container">
                        <label for="" class="text-field-input">Product Description</label>
                        <input type="text" class="text-field">
                    </p>

                    <p class="input-container">
                        <label for="" class="text-field-input">Product Type</label>
                        <input type="text" class="text-field">
                    </p>

                    <p class="input-container">
                        <label for="" class="text-field-input">Purchase Date</label>
                        <input type="text" class="text-field">
                    </p>

                    <p class="input-container">
                        <label for="" class="text-field-input">Product Price</label>
                        <input type="number" class="text-field">
                    </p>

                    <button class="primary-button long new-product">Create Product</button>

                </form>
            </div>

            <div class="create-product">

                <button class="add-button"><i class="fas fa-plus-circle"></i></button>
                <h1>You are creating a new product</h1>
            </div>

        </div>

    </div>

</body>

</html>