<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Products</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="Products.css">
  <link rel="stylesheet" href="../../asets/css/shared.css">
</head>

<body>
  <div id="products">

    <header>
      <div class="buttons">
        <button class="ghost-button">PRODUCTS</button>
        <button class="solid-button">EXPENSES</button>
      </div>

      <div class="profile-picture">
        <img src="../../asets/images/profile-picture.jpg" alt="" class="picture">
        <h1 class="username">Nikolaj Grunoski</h1>
      </div>
    </header>

    <!-- <p class="title">Products</p> -->
    
   
    <div class="check-list">

      
    <div class="title-checkbox">

        <p class="title">Products</p>

      <form class="checklist-form">
        <p>
          <label>Filter by:</label>
          <select id="myList">
            <option value="0">Year</option>
            <option value="1">Highest Price</option>
            <option value="2">Lowest Price</option>
            <option value="3">Latest Purchases</option>

          </select>
        </p>
      </form>
      
       
      
      
    </div>

      <div>

        <div class="table-container">
          <table style="width:90%">
            <tr class="header-line">
              <th>Product Name</th>
              <th>Product Type</th>
              <th>Product Description</th>
              <th>Purchase Date</th>
              <th>Product Price</th>
            </tr>

            <tr class="row-lines">
              <td>Coca Cola</td>
              <td>Drink</td>
              <td>carbonated soft drink</td>
              <td>19.04.2019</td>
              <td>75</td>
              <td><button class="edit-del-btn"><i class="far fa-edit"></i></button><button class="edit-del-btn"><i
                    class="far fa-trash-alt"></i></button></td>
            </tr>
            <tr class="row-lines">
              <td>Coca Cola</td>
              <td>Drink</td>
              <td>carbonated soft drink</td>
              <td>19.04.2019</td>
              <td>75</td>
              <td><button class="edit-del-btn"><i class="far fa-edit"></i></button><button class="edit-del-btn"><i
                    class="far fa-trash-alt"></i></button></td>
            </tr>
            <tr class="row-lines">
              <td>Coca Cola</td>
              <td>Drink</td>
              <td>carbonated soft drink</td>
              <td>19.04.2019</td>
              <td>75</td>
              <td><button class="edit-del-btn"><i class="far fa-edit"></i></button><button class="edit-del-btn"><i
                    class="far fa-trash-alt"></i></button></td>
            </tr>
            <tr class="row-lines">
              <td>Coca Cola</td>
              <td>Drink</td>
              <td>carbonated soft drink</td>
              <td>19.04.2019</td>
              <td>75</td>
              <td><button class="edit-del-btn"><i class="far fa-edit"></i></button><button class="edit-del-btn"><i
                    class="far fa-trash-alt"></i></button></td>
            </tr>
            <tr class="row-lines">
              <td>Coca Cola</td>
              <td>Drink</td>
              <td>carbonated soft drink</td>
              <td>19.04.2019</td>
              <td>75</td>
              <td><button class="edit-del-btn"><i class="far fa-edit"></i></button><button class="edit-del-btn"><i
                    class="far fa-trash-alt"></i></button></td>
            </tr>
            <tr class="row-lines">
              <td>Coca Cola</td>
              <td>Drink</td>
              <td>carbonated soft drink</td>
              <td>19.04.2019</td>
              <td>75</td>
              <td><button class="edit-del-btn"><i class="far fa-edit"></i></button><button class="edit-del-btn"><i
                    class="far fa-trash-alt"></i></button></td>
            </tr>
          </table>
          
          <button class="fixed-button">NEW PRODUCT</button>
        </div>
      </div>
</body>

</html>