html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #E5EDF5;
}

#app {
    width: 100%;
    height: 100%;
}

.primary-button{
    font-size: 18px;
    color: #fff;
    background: #1DD1A1;
    height: 50px;
    box-shadow: 0px 0px 16px
    rgba(0, 0, 0, 0.17);
    border: 2px solid #1DD1A1;
}

.primary-button.long{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    font-weight: bolder;
}

.ghost-button{
    Font-size: 15px;
    Background: Transparent;
    Border: 2px solid;
    Border-color: #1DD1A1;;
    color: #1DD1A1;
    border-radius: 5px;
    height: 30px;
}

.solid-button{
    Font-size: 15px;
    Background: Transparent;
    color: #576574;
    border-color: #576574;
    border-radius: 5px; 
    height: 30px;
    margin-left: 2px;

}

input{
    background: #fff;
    border: 2px solid;
    border-color: #C6C6C6;
}

label{
    font-size: 18px;
    Color: #8D8D8D;
    offset-distance: 15px;
}



.input-container{
    text-align: left;
}

.text-field {
    text-align: left;
    border-radius: 5px;
    width: 100%;
    height: 35px;
}

.text-field-input {
    width: 100%;
}



.additional-info {
    width: 100%;
    text-align: center;
    color: #8D8D8D;
}

.picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    Font-size: 18px;
    Color: #4D4D4D;
    margin: 15px;
}

.profile-picture {
    text-align: right;
    display: flex;
    align-items: center;
    margin: 15px;
}

header {
    justify-content: space-between;
    display: flex;
    /* align-items: center; */
    background-color: #fff;
}

.buttons {
    justify-content: space-between;
    padding: 10px;
}

.cancel-button{
    Color: #575757;
    background-color: transparent;
    border-color: transparent;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
    width: 130px;
}

.delete-button{
    background-color: #575757;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
    width: 130px;
    border-color: transparent;
}

tbody{
    background-color: #fff;

}

tr{
    Font-size: 16px;
    Color: #575757;
    Background: #fff;
    text-align: center;
    border-bottom: 15px solid;
    border-color: #E5EDF5;
    
}

#navbar{
    
}